<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register - flame's finance manager</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    {% extends "base.html" %}
    {% block content %}
    <div class="container">
        <h2>register</h2>
        <form action="{{ url_for('register') }}" method="POST">
            <label for="username">username</label>
            <input type="text" id="username" name="username" required>

            <label for="password">password</label>
            <input type="password" id="password" name="password" required>

            <button type="submit">register</button>
        </form>

        <!-- link to the login page if the user already has an account -->
        <div class="account-option">
            <p>already have an account?</p>
            <a href="{{ url_for('login') }}" class="btn btn-outline-primary">> login here</a>
        </div>
    </div>
    {% endblock %}
</body>
</html>